/*Hide selected options from dropdown, hide selection choice (requested for easier to use interface)*/
.select2-results__option[aria-selected=true] , .field-question .select2-selection__choice{
    display: none;
}

.remove-link:hover {
    text-decoration: underline;
}
