{% extends 'onlinequiz/account.html' %}
{% load static %}
{% load index %}

{% block accContent %}
<div class="container" style="max-width: 100%">
    <h1>Test Results</h1>
    <br>
    <table class="table" id="set-table" style="width:100%">
        <thead>
      <tr>
        <th>ID</th>
        <th>Set</th>
          <th>Score</th>
          <th>Class Average</th>
      </tr>
      </thead>
        <tbody>
        {% for set in sets %}
        <tr {% if set.set.testset.allow_set_details %} class="clickable-row" {% endif %} data-href="test/{{set.id}}">
            <td>{{ set.id }}</td>
            <td>{{ set.set }}</td>
            <td>{% if set.set.testset.allow_set_score %}{{ set.marks }} {% endif %}</td>
            <td>{% if set.set.testset.allow_avg %} {{ set.avg }} {% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts_bottom %}
<!--Data Tables Library-->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script>
$(document).ready(function($) {
    $('#set-table').DataTable();
    $('body').on('click', 'tr.clickable-row', function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}