{% extends 'onlinequiz/account.html' %}
{% load static %}

{% block accContent %}
<div class="container" style="max-width: 100%">
    <h1>Submissions</h1>
    <br>
    <table class="table" id="submission-table" style="width:100%">
        <thead>
      <tr>
        <th>ID</th>
        <th>Set</th>
          <th>Mode</th>
          <th>Question</th>
          <th>Score</th>
          <th>Submission Time</th>
      </tr>
      </thead>
        <tbody>
        {% for submission in submissions %}
        {% if not submission.set.testset %}
        <tr class="clickable-row" data-href="submissions/{{submission.id}}">
            <td>{{ submission.id }}</td>
            <td>{{ submission.set }}</td>
            <td>
                {% if submission.set.practiceset %} Practice
              {% elif submission.set.gameset %} Challenge
              {% elif submission.set.testset %} Test {% endif %}
            </td>
            <td>{{ submission.question }}</td>
            <td>{{ submission.score }}</td>
            <td>{{ submission.submission_time }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts_bottom %}
<!--Data Tables Library-->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script>
$(document).ready(function($) {
    $('#submission-table').DataTable();
    $('body').on('click', 'tr.clickable-row', function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}