{% extends 'onlinequiz/account.html' %}
{% load static %}

{% block accContent %}
<div class="container" style="max-width: 100%">
    <h1>Test Results</h1>
    <br>
    <table class="table" id="set-table" style="width:100%">
        <thead>
      <tr>
        <th>Question</th>
          <th>Type</th>
          <th>Score</th>
      </tr>
      </thead>
        <tbody>
        {% for submission in submissions %}
        <tr {% if set.testset.allow_qn_details %} class="clickable-row" {% endif %} data-href="../submissions/{{submission.id}}">
            <td>{{ submission.question }}</td>
            <td>{% if submission.question.codecompletionquestion %}Code Completion
                {% elif submission.question.multichoicequestion %}Multiple Choice{% endif %}</td>
            <td>{% if set.testset.allow_qn_score %}{{ submission.score }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts_bottom %}
<!--Data Tables Library-->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script>
$(document).ready(function($) {
    $('#set-table').DataTable();
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}