{% extends 'onlinequiz/account.html' %}
{% load static %}
{% load index %}

{% block accContent %}
<div>
    <h1>Challenge Statistics</h1>
    <br>
    <table class="table" style="width:50%; font-size:1.2em">
      <tr>
          <th>Overall Ranking</th>
          <td>{{ user.studentuser.ranking }}</td>
      </tr>
        <tr>
            <th>Rank</th>
            <td>{{ user.studentuser.current_hero }}</td>
        </tr>
        <tr>
            <th>Proficiency</th>
            <td><star>{{ user.studentuser.current_hero.proficiency }}</star></td>
        </tr>
        <tr>
            <th>Total Points</th>
            <td>{{ user.studentuser.total_points }}</td>
        </tr>
        {% if next_hero %}
        <tr>
            <th>Next Ranking</th>
            <td>
                {% with bar=progress|divide:price_diff %}
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ bar }}%;" aria-valuenow="{{ bar }}" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar-title">
                          {{progress}}/{{price_diff}} points
                      </div>
                  </div>
                </div>
              {% endwith %}
            </td>
        </tr>
        {% endif %}
    </table>
    <h4>My Room</h4>
    <canvas id="game-canvas" width="512" height="384">
    </canvas>
</div>
{% endblock %}
{% block scripts_bottom %}
<script>
    // Canvas Script
    $(document).ready(function() {
       var gameCanvas = document.getElementById('game-canvas'),
           context = gameCanvas.getContext('2d');
       var background = new Image();
       background.src = "{% static 'images/game_files/room_initial.png' %}";
       background.onload = function(){
           context.drawImage(background,0,0);
       };

       // Draw Assets
        var sources = JSON.parse( "{{ canvas_asset_json|escapejs }}" );

    function loadImages(sources, callback) {
        var images = {};
        var pos = {};
        var loadedImages = 0;
        // get num of sources
        for(var i = 0; i < sources.length; i++) {
            var src = sources[i];
            images[i] = new Image();
            images[i].onload = function() {
                if(++loadedImages >= sources.length) {
                    callback(images, pos);
                }
            };
            images[i].src = "{{MEDIA_URL}}" + src.fields.image;
            pos[i] = {};
            pos[i]['pos_x'] = src.fields.pos_x;
            pos[i]['pos_y'] = src.fields.pos_y;
        }
    }

      loadImages(sources, function(images, pos) {
          setTimeout(function() {
              for(var i = 0; i < sources.length; i++) {
                context.drawImage(images[i], pos[i]['pos_x'], pos[i]['pos_y']);
                }
          }, 100);
      });

        function gameLoop () {
          window.requestAnimationFrame(gameLoop);
          avatar.update();
          avatar.render();
        }

        function sprite (options) {
            var that = {},
                frameIndex = 0,
                tickCount = 0,
                ticksPerFrame = options.ticksPerFrame || 0,
                numberOfFrames = options.numberOfFrames || 1;
            that.context = options.context;
            that.width = options.width;
            that.height = options.height;
            that.image = options.image;

            that.update = function () {
                tickCount += 1;
                if (tickCount > ticksPerFrame) {
                    tickCount = 0;
                    // If the current frame index is in range
                    if (frameIndex < numberOfFrames - 1) {
                        // Go to the next frame
                        frameIndex += 1;
                    } else {
                        frameIndex = 0;
                    }
                }
            };

            that.render = function () {
              // Clear the canvas (destroys background omg, can try putting the bg in background-image!)
              // that.context.clearRect(0, 0, that.width, that.height);
              // Draw the animation
              that.context.drawImage(
                that.image,
                frameIndex * that.width / numberOfFrames,
                0,
                that.width / numberOfFrames,
                that.height,
                125,
                180,
                that.width / numberOfFrames,
                that.height);
            };
            return that;
       }

        var avatarImage = new Image();
        var avatar = sprite({
            context: gameCanvas.getContext("2d"),
            width: 150,
            height: 150,
            image: avatarImage,
            numberOfFrames:2,
            ticksPerFrame: 50,
        });

        avatarImage.addEventListener("load", gameLoop);
        avatarImage.src = {% if user.studentuser.char_gender == 'F' %}"{% static 'images/game_files/girl-sprite-idle.png' %}"{% else %}"{% static 'images/game_files/boy-sprite-idle.png' %}"{% endif %};

        // Dialog box. After 5s, display first one, wait10s, display second, restore
        to = setTimeout(function () {
            var dialog = new Image();
            dataURL=gameCanvas.toDataURL();
            dialog.onload = function() {
                context.drawImage(dialog, 140, 150);
                // Disappearing dialog
                timeout = setTimeout(function() {
                    var dialog2 = new Image();
                    dialog2.onload = function() {
                        context.drawImage(dialog2, 140, 121);
                        to2 = setTimeout(function() {
                            var image=new Image();
                            image.onload=function(){
                                context.drawImage(image,0,0);
                            };
                            image.src=dataURL;
                        }, 10000);
                    };
                    dialog2.src = "{% static 'images/game_files/account_speech2.png' %}";
                }, 5000 );
            };
            dialog.src = "{% static 'images/game_files/account_speech1.png' %}";
        }, 3000);
    });
</script>
{% endblock %}