{% extends 'base.html' %}
{% load index %}

{% block scripts_top %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="container modeIndex">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled" id="set-list" style="margin-top: 2.5em">
                {% for k, v in menu_list.items %}
                    {% if k == current_menu %}
                        <li id="current-set"><a href="/onlinequiz/account/{{k}}">{{ v }}</a></li>
                    {% else %}
                    <li><a href="/onlinequiz/account/{{k}}">{{ v }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block accContent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
