{% extends 'onlinequiz/account.html' %}
{% load static %}

{% block accContent %}
<div>
    <h1>Account Details</h1>
    <br>
    <table class="table" style="width:50%; font-size:1.2em">
      <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Matriculation Number</th>
        <td>{{ user.studentuser.matric }}</td>
      </tr>
        {% if user.first_name %}
      <tr>
        <th>Name</th>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
      </tr>
        {% endif %}
      <tr>
        <th>Group</th>
        <td>{{ user.studentuser.group }}</td>
      </tr>
    </table>
  <h4><a href="acc-details/edit/">Edit Information</a></h4>
</div>
<br />
<div>
  {% if summary %}
  <h3>Personal Summary</h3>
  <div style="height: 30%; max-width: 100%">
  <canvas id="myChart" width="400" height="300"></canvas>
  </div>
  <p style="text-align: center">Hover on the data to view more detailed numbers</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts_bottom %}
{% if summary %}
  <script>
      var chartData = {{summary|safe}};
      questions = chartData.map(chartData => chartData.question__tag__tag);
      count = chartData.map(chartData => chartData.count);
      avg = chartData.map(chartData => chartData.avg);

      $( document ).ready(function() {
          function replicate(arr, times) {
               var al = arr.length,
                   rl = al*times,
                   res = new Array(rl);
               for (var i=0; i<rl; i++)
                   res[i] = arr[i % al];
               return res;
          }

          var bgColorList = [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                          ];

          var borderColorList = [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                          ];

          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: questions,
                  datasets: [{
                      label: 'Average Marks',
                      data: avg,
                      backgroundColor: replicate(bgColorList, Math.ceil(questions.length/6)),
                      borderColor: replicate(borderColorList, Math.ceil(questions.length/6)),
                      borderWidth: 1
                  }, {
                      label: 'Count',
                      data: count,
                      type: 'line',
                      fill:false,
                      borderColor: '#777777',
                      pointBackgroundColor: '#333333'
                  }]
              },
              options: {
                  legend: { display: false },
                  title: {
                      display: true,
                      text: 'Submission Topics Count and Avg. Marks'
                  },
                  responsive: true,
                  maintainAspectRatio: false,
                  scales: {
                      yAxes: [{
                          type: 'logarithmic',
                          ticks: {
                              min: 0,
                              max: 100,
                              callback: function(tickValue, index, ticks) {
                                    var remain = tickValue / (Math.pow(10, Math.floor(Math.log10(tickValue))));
                                  if (tickValue === 0) {
                                      return null;
                                  } else if (remain=== 1 || remain === 2 || remain === 5 || index === 0 || index === ticks.length - 1) {
                                      t = parseFloat(tickValue).toFixed(1);
                                      return t.toString();
                                  }
                                  return '';
                              },
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
      });
  </script>
{% endif %}
{% endblock %}