{% extends 'onlinequiz/gameBase.html' %}
{% load index %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/onlinequiz">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ mode }}</li>
</ol>
{% endblock %}

{% block sideBarContent %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Status</h3>
  </div>
  <div class="panel-body">
      <h4><strong>{{ user.studentuser.current_hero }}</strong></h4>
      <p>Proficiency: <star>{{ user.studentuser.current_hero.proficiency }}</star></p>
      <p>Points: {{ user.studentuser.total_points }}</p>
      <a class="btn btn-primary" href="/onlinequiz/account">Details</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Leaderboard</h3>
  </div>
  <div class="panel-body">
      <ol>
          {%for student in leaderboard%}
          <li style="font-size:17px">{{student.user}} ({{student.total_points}} points)</li>
          {% endfor %}
      </ol>
  </div>
</div>
{% endblock %}

{% block gameContent %}
<div id="gameCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="min-height: 32em">
  <ol class="carousel-indicators">
      {% for p in page %}
    <li data-target="#gameCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner" style="padding: 0px 7em;">
    {% for available_set, remaining_hp in zipped %}
      <div class="item">
      <div class="row">
          {% for set in available_set %}
          <div class="col-md-4">
            <div class="thumbnail">
                {% if user.studentuser.current_hero.proficiency|subtract:set.gameset.set_difficulty < -0.5 %}
                  <div class="overlay-card" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -60%);
                  -ms-transform: translate(-50%, -50%); z-index: 9999; text-align:center">
                    <h4>Increase your proficiency to unlock this set!</h4>
                  </div>
                  {% endif %}
              <div class="caption" {% if user.studentuser.current_hero.proficiency|subtract:set.gameset.set_difficulty < -0.5 %}
                style="opacity: 0.1"{% endif %}>
                  <h4>{{ set }}</h4>
                  {% with hp=remaining_hp|get_index:forloop.counter0|divide:set.question_count %}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{ hp }}%;" aria-valuenow="{{ hp }}" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar-title">
                              Progress: {% if hp %}{{ hp }}{% else %}0{% endif %}%
                          </div>
                      </div>
                    </div>
                  {% endwith %}
                  <h4>Difficulty: <star-enemy>{{ set.gameset.set_difficulty }}</star-enemy></h4>
                  <a href="/onlinequiz/{{mode}}/{{ set.id }}/" class="btn btn-default {% if user.studentuser.current_hero.proficiency|subtract:set.gameset.set_difficulty < -0.5 %} disabled
                {% endif %}" role="button">
                      Challenge
                  </a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
      {% endfor %}
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#gameCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="color: darkcyan;"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#gameCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="color: darkcyan;"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}

{% block scripts_bottom %}
<script>
    $(document).ready(function(){
        $(".item:first").addClass("active");
        $(".carousel-indicators").children("li:first").addClass("active");
        $(".overlay-card")
    });
</script>
{% endblock %}