{% extends 'onlinequiz/gameBase.html' %}
{% load index %}

{% block sideBarContent %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Set Details</h3>
  </div>
  <div class="panel-body">
      <h4><strong>{{ set }}</strong></h4>
      {% with hp=remaining_hp|divide:set.question_count %}
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{ hp }}%;" aria-valuenow="{{ hp }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar-title">
                  Progress: {{ remaining_hp }}/{{ set.question_count }}
              </div>
          </div>
        </div>
      {% endwith %}
      <h4>Difficulty: <star-enemy>{{ set.gameset.set_difficulty }}</star-enemy></h4>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Status</h3>
  </div>
  <div class="panel-body">
      <h4><strong>{{ user.studentuser.current_hero }}</strong></h4>
      <p>Proficiency: <star>{{ user.studentuser.current_hero.proficiency }}</star></p>
      <p>Points: {{ user.studentuser.total_points }}</p>
      <a class="btn btn-primary" href="/onlinequiz/account">Details</a>
  </div>
</div>
{% endblock %}

{% block gameContent %}
<ul class="nav nav-tabs">
    {% for difficulty in difficulties %}
        <li class="tabs"><a data-toggle="tab" href="#{{ difficulty }}">{{ difficulty }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
  {% for difficulty in difficulties %}
    <div id="{{ difficulty }}" class="diff-content tab-pane fade">
        <br>
        <div class="row">
          <div class="col-md-12">
              {% for question, done in qn_sub %}
              {% if question.difficulty == difficulty %}
            <div class="thumbnail clearfix" style="position: relative">
              <div class="caption" style="position: relative">
                  <h4><a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/">{{ question.question }}
                      {%if question.points_reward%}({{question.points_reward}} points){% endif %}
                      {% if done %}<i class="fa fa-check-circle" style="color:green;"></i>{% endif %}
                  </a></h4>
                  {% if question.tag_comma %}<p>Topic: {{question.tag_comma}}</p> {% endif %}
                  {% if done %}<p>Best Score: {{ done }}</p>{% endif %}
                  <a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/" class="btn btn-primary" role="button" style="position: absolute; right:2em; top:30%;">Start</a>
              </div>
            </div>
              {% endif %}
              {% endfor %}
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts_bottom %}
<script>
    $(document).ready(function(){
        $(".tabs:first").addClass("active");
        $(".diff-content:first").addClass("in active");
    });
</script>
{% endblock %}