{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% block breadcrumb %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/onlinequiz">Home</a></li>
                <li class="breadcrumb-item"><a href="..">{{ mode }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ set }}</li>
              </ol>
            {% endblock %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top: 2em">
        <div class="col-md-3">
            <div class="row">
                {% block sideBarContent %}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-9">
            {% block gameContent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}