{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top: 3%">
        <div class="col-md-4">
            <a href="Practice">
            <img style="width:90%" class="img-responsive img-rounded center-block" src="{% static 'images/practice.jpg' %}" />
            </a>
            <br>
            <h3 class="text-center">Practice your coding skills here!<br><br>
                You can repeat all exercises as many times as you like until you master it.</h3>
        </div>
        <div class="col-md-4">
            <a href="Challenge">
            <img style="width:90%" class="img-responsive img-rounded center-block" src="{% static 'images/challenge.jpg' %}" />
            </a>
            <br>
            <h3 class="text-center">Are you ready to challenge yourself?<br><br>Complete challenge sets to earn points and increase
            your proficiency as you go.</h3>
        </div>
        <div class="col-md-4">
            <a href="Test">
            <img style="width:90%" class="img-responsive img-rounded center-block" src="{% static 'images/test.jpg' %}" />
            <br>
            </a>
            <h3 class="text-center">Finished training?<br><br>These challenging questions have a time limit for you to complete!</h3>
        </div>
    </div>
</div>
{% endblock %}