{% extends 'base.html' %}

{% block content %}
<div class="container modeIndex">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/onlinequiz">Home</a></li>
                <li class="breadcrumb-item"><a href="..">{{ mode }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ set }}</li>
              </ol>
        </div>
        <div class="col-md-4">
        {% block clock %}
        {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled" id="set-list" style="margin-top: 2.5em">
                {% for available_set in available_sets %}
                    {% if available_set.id == set_id %}
                        <li id="current-set"><a href="/onlinequiz/{{ mode }}/{{ available_set.id }}/">{{ available_set.name }}</a></li>
                    {% else %}
                    <li><a href="/onlinequiz/{{ mode }}/{{ available_set.id }}/">{{ available_set.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block modeContent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts_bottom %}
<script>
    $(document).ready(function(){
        $(".tabs:first").addClass("active");
        $(".diff-content:first").addClass("in active");
    });
</script>
{% block add_scripts_bottom %}
{% endblock %}
{% endblock %}