{% extends 'onlinequiz/modeIndex.html' %}
{% load static %}

{% block modeContent %}
<ul class="nav nav-tabs">
    {% for difficulty in difficulties %}
        <li class="tabs"><a data-toggle="tab" href="#{{ difficulty }}">{{ difficulty }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
  {% for difficulty in difficulties %}
    <div id="{{ difficulty }}" class="diff-content tab-pane fade">
        <br>
        <div class="row">
          <div class="col-md-12">
              {% for question,done in qn_sub %}
              {% if question.difficulty == difficulty %}
            <div class="thumbnail clearfix" style="position: relative">
              <div class="caption" style="position: relative">
                  <h4><a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/"><strong>{{ question.question }}</strong>
                      {% if done %}<i class="fa fa-check-circle" style="color:green;"></i>{% endif %}
                  </a></h4>
                  {% if question.tag_comma %}<p>Topic: {{question.tag_comma}}</p> {% endif %}
                  {% if done %}<p>Best Score: {{ done }}</p>{% endif %}
                  <a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/" class="btn btn-primary" role="button" style="position: absolute; right:2em; top:30%;">Start</a>
              </div>
            </div>
              {% endif %}
              {% endfor %}
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}