{% extends 'onlinequiz/account.html' %}
{% load static %}

{% block accContent %}
<div class="container">
    <h1>Submissions</h1>
    <br>
    <table class="table" style="width:70%">
        <col width="15%">
        <col width="85%">
      <tr>
        <th>ID</th>
          <td>{{ submission.id }}</td>
      </tr>
        <tr>
        <th>Set</th>
          <td>
              {{ submission.set }}
          </td>
      </tr>
        <tr>
        <th>Set Type</th>
          <td>
              {% if submission.set.practiceset %} Practice
              {% elif submission.set.gameset %} Challenge
              {% elif submission.set.testset %} Test {% endif %}
          </td>
      </tr>
        <tr>
        <th>Question</th>
          <td>{{ submission.question }}</td>
      </tr>
        {% if submission.question.tag_comma %}
        <tr>
        <th>Question Tags</th>
          <td>{{ submission.question.tag_comma }}</td>
      </tr>
        {%endif%}
      {% if submission.question.explanation %}
        <tr>
      <th>Question Explanation</th>
          <td>{{ submission.question.explanation|safe }}</td>
      </tr>
      {% endif %}
        {% if not submission.set.testset or submission.set.testset and submission.set.testset.allow_qn_score %}
        <tr>
        <th>Score</th>
          <td>{{ submission.score }}</td>
      </tr>
        {% endif %}
        <tr>
        <th>Submission Time</th>
          <td>{{ submission.submission_time }}</td>
      </tr>
        {% if submission.question.codecompletionquestion %}
        <tr>
        <th>Code</th>
          <td><figure><pre><code>{{ submission.code }}</code></pre></figure></td>
      </tr>
        {% if not submission.set.testset or submission.set.testset and submission.set.testset.allow_test_case %}
        <tr>
        <th>Test Cases</th>
            <td>{% for test_case in test_cases %}<a href="/onlinequiz/test-cases/{{test_case}}" target="_blank">{{ forloop.counter }}</a> {%endfor%}</td>
      </tr>
        <tr>
        <th>Test Cases Result</th>
          <td>{{ submission.test_case_result }}</td>
      </tr>
        {% endif %}
        {% else %}
        <tr>
        <th>Your Choice</th>
          <td>{{ submission.choice }}</td>
      </tr>
        {% endif %}
      {% if submission.testsubmission and submission.testsubmission.feedback %}
      <tr>
        <th>Feedback</th>
        <td>{{ submission.testsubmission.formatted_markdown|safe }}</td>
      </tr>
      {% endif %}
    </table>
</div>
{% endblock %}