{% extends 'onlinequiz/modeIndex.html' %}
{% load static %}
{% load index %}

{% block clock %}
    {% if status == "doing_test" %}
        <div class="panel panel-default">
            <div class="countdown panel-body">
                <strong>Time Remaining to Complete Test:</strong>
            <span id="clock"></span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modeContent %}
    <div class="row">
      <div class="col-md-12" style="margin-top: 3em;">

          {% if status == "not_available" or status == "time_up" %}
          <div class="thumbnail clearfix">
              <div class="caption">
                  <h3>This set is currently not available</h3>
              </div>
          </div>
          {% endif %}
          {% if status == "havent_started"%}
          <div class="thumbnail clearfix">
              <div class="caption">
                  <h3>Start <strong>{{ set.name }}</strong>?</h3>
                  <p>You have <strong>{{ test_time }} minutes</strong> to complete the test.</p>
                  <p>Last submission must be made before <strong>{{ end_time }}</strong></p>
                  <br>
                  <a href="/onlinequiz/{{ mode }}/{{ set_id }}/start" class="btn btn-primary" role="button">Start</a>
              </div>
          </div>
          {% endif %}
          {% if status == "doing_test" %}
              {% for question, done in qn_sub %}
              <div class="thumbnail clearfix" style="position: relative">
                  <div class="caption" style="position: relative">
                  <h4>{% if done|is_false %}
                      <a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/">{{question.question}}</a>
                      {% else %}{{ question.question }}
                      <i class="fa fa-check-circle" style="color:green;"></i>
                      {% endif %}</h4>
                  {% if question.tag_comma %}<p>Topic: {{question.tag_comma}}</p> {% endif %}
                  {%if not done%}<a href="/onlinequiz/{{ mode }}/{{ set_id }}/{{ question.id }}/" class="btn btn-primary" role="button" style="position: absolute; right:2em; top:30%;">Start</a> {%endif%}
                  </div>
              </div>
              {% endfor %}
          {% endif %}
      </div>
    </div>
{% endblock %}

{% block add_scripts_bottom %}
<script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.js' %}"></script>
<script type="text/javascript">
     var time = "{{ time_left|escapejs }}".replace(/^"(.*)"$/, '$1');
     var d = new Date(time);
      $('#clock').countdown(d)
    .on('update.countdown', function(event) {
      var format = '%H:%M:%S';
      $(this).html(event.strftime(format));
    })
    .on('finish.countdown', function(event) {
      window.location.replace("/onlinequiz/Test/");
    });
</script>
{% endblock %}