@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.breadcrumb {
    background-color: transparent;
}

body {
    background: white;
    margin-top: 70px;
    font-family: Roboto;
}

li {
    font-size: 20px;
}

pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

tr.clickable-row:hover{
 background:lightblue;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.progress {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 20px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: black;
  right: 0;
  left: 0;
  top: 0;
}

.hint-button {
    margin-top: 10px
}

#submit_code {
    margin-top: 10px;
}

#mcq-choices ul {
    list-style-type: none;
    padding-left: 0;
}

#mcq-choices ul li {
    font-size: 15px;
}

/*For mode index*/
#set-list li {
    padding: 0.2em 0;
    margin: 0.2em 0;
}

#test-case-list li a, #set-list a:visited {
    text-decoration: none;
    color:black;
}

#test-case-list a:hover {
    text-decoration: none;
    color: #438496;
}

.modeIndex li a, .breadcrumb li a {
    color:black;
}

.modeIndex a:hover, .breadcrumb a:hover {
    text-decoration: none;
    color: #438496;
}

#set-list a{
    padding-left: 0.5em;
}

#set-list a:hover {
    text-decoration: none;
    color: #438496;
}

#current-set a {
    border-left:4px solid #438496;
    color: #438496;
}

.helptext {
    font-size: 0.7em;
}

/*Carousel in game*/
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-indicators li {
    background: darkcyan;
}

.carousel-indicators .active {
    background: black;
}

/*editor stuff*/
ul .group-list {
  float: left;
  width: 33%;
  margin: 0.1em 0;
  padding: 0;
  list-style: none;
}

/*Navbar Stuff*/
.navbar {
    background:#438496;
    font-family: Raleway;
}

.navbar-brand {
    color: #EEEEEE;
}

nav {
  width: 80%;
  margin: 0 auto;
  padding: 0px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: #EEEEEE;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #438496;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #eeeeee;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}