{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <table class="table table-borderless" style="width: 30%">
        <col width="40%">
        <col width="60%">
    {{ form.as_table }}
      </table>
    <button type="submit" class="btn btn-primary">Login</button>
    <a data-toggle="modal" data-target="#firstLogin" style="margin-left: 1em">First time logging in?</a>
  </form>
  </div>
<!-- Modal -->
<div id="firstLogin" class="modal fade" role="dialog" style="padding-top: 10%">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" id="username_form">
        <div class="form-group">
          <label for="usr">Username:</label>
          <input type="text" class="form-control" id="usr" name="username_chk">
          <p style="color: red" hidden id="username_error">Incorrect username</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_bottom %}
<script>
$( document ).ready(function() {
    var form = $("#username_form");
    form.submit(function(e){
        $.ajax({
            type: form.attr('method'),
            url: '/onlinequiz/check_user/',
            data: {
                'username': $('input[name=username_chk]').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(result){
              if (!result.success) {
                  $('#username_error').show()
              }
              else {
                  window.location.href = "/onlinequiz/account/acc-details/edit";
              }
            },
        });
        e.preventDefault();
    });
});
</script>
{% endblock %}