{% extends 'base.html' %}

{% block content %}
<div class="container" id="mcq-choices">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
      <table class="table table-borderless" style="width: 30%">
    {% for field in form %}
      <tr>
          <td>{{ field.label_tag }}<br></td>
          <td>{{ field }}</td>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </tr>
    {% endfor %}
      </table>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
{% endblock %}