{% extends "admin/change_list.html" %}
{% load humanize %}
{% load index %}

{% block content_title %}
    <h1>Test Summary</h1>
{% endblock %}

{% block result_list %}
<div class=”results”>
    <table>
      <tr>
        <th>
          Set ID
        </th>
        <th>
          Set Name
        </th>
        <th>
          No. of Students
        </th>
        <th>
          Class Average
        </th>
        <th>
          Maximum Score
        </th>
        <th>
          Minimum Score
        </th>
        <th>
          Student Submissions
        </th>
      </tr>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> <a href={{row.id}}>{{ row.id }}</a> </td>
        <td> {{ row.name }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.avg | intcomma }} </td>
        <td> {{ row.max | intcomma }} </td>
        <td> {{ row.min | intcomma }} </td>
        <td> <a href="../studentdotest/?set__set_ptr__exact={{row.id}}">View</a> </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}