{% extends "admin/change_form.html" %}
{% block content_title %}<h1>Test Set Summary</h1>{%endblock%}
{% block content %}
<div>
<table>
    <tr>
        <th>Set ID</th>
        <th>Set Name</th>
        <th>No. of Students</th>
        <th>Class Average</th>
        <th>Maximum Score</th>
        <th>Minimum Score</th>
    </tr>
    <tr>
        <td>{{ original.id }}</td>
        <td>{{ original }}</td>
        <td>{{ original.studentdotest_set.count }}</td>
        <td>{{ setsummary.avg }}</td>
        <td>{{ setsummary.max }}</td>
        <td>{{ setsummary.min }}</td>
    </tr>
</table>
</div>
<br><br>
<div>
<table>
    <tr>
        <th>Question ID</th>
        <th>Question</th>
        <th>No. of Students</th>
        <th>Class Average</th>
        <th>Maximum Score</th>
        <th>Minimum Score</th>
    </tr>
    {% for row in summary %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ row.question }}</td>
        <td>{{ row.question__question }}</td>
        <td>{{ row.total }}</td>
        <td>{{ row.avg }}</td>
        <td>{{ row.max }}</td>
        <td>{{ row.min }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<br><br>
{% if summary %}
<div style="height: 30%; max-width: 100%">
    <canvas id="myChart" width="400" height="300"></canvas>
    <script>
        var chartData = {{summary|safe}}
        questions = chartData.map(chartData => chartData.question__question);
        avg = chartData.map(chartData => chartData.avg);

        $( document ).ready(function() {
            function replicate(arr, times) {
                 var al = arr.length,
                     rl = al*times,
                     res = new Array(rl);
                 for (var i=0; i<rl; i++)
                     res[i] = arr[i % al];
                 return res;
            }

            var bgColorList = [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                            ];

            var borderColorList = [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                            ];

            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: questions,
                    datasets: [{
                        label: 'Class Average',
                        data: avg,
                        backgroundColor: replicate(bgColorList, Math.ceil(questions.length/6)),
                        borderColor: replicate(borderColorList, Math.ceil(questions.length/6)),
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Class Average By Question'
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
</div>
{% endif %}
{% endblock %}