<!doctype html>
{% load static %}
{% load index %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'onlinequiz/style.css' %}" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/20.1.4/jcanvas.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts_top %}{% endblock %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Python Online Quiz</title>
    </head>
    <body>
      <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/onlinequiz">
                <img class="img-responsive" style="padding-top: 8%; padding-right: 5%" height="60" width="100" src="{% static 'images/logo_white.png' %}" />
              </a>
          </div>
          <nav class="collapse navbar-collapse shift">
            <ul class="nav navbar-nav">
                <li><a href="/onlinequiz/Practice/">Practice</a></li>
                <li><a href="/onlinequiz/Challenge/">Challenge</a></li>
                <li><a href="/onlinequiz/Test/">Test</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/onlinequiz/account/">Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>

{% block scripts_bottom %}
{% endblock %}
<script>
    $(document).ready(function() {
        function round(value, step) {
            step || (step = 1.0);
            var inv = 1.0 / step;
            return Math.round(value * inv) / inv;
        }

        $("star-enemy, star").each(function () {
            var stars = round(parseFloat($(this).text()), 0.5);
            text = '';
            while (stars >= 1) {
                text += '<i class="fa fa-star" aria-hidden="true"></i>';
                stars = stars - 1;
            }
            if (stars % 1 != 0) {
                text += '<i class="fa fa-star-half-o" aria-hidden="true"></i>';
            }
            $(this).replaceWith(text)
        });
    });
</script>
<script>
    $(document).ready(function() {
        $(".progress-bar").each(function () {
            var progress = $(this).attr("aria-valuenow");
            var progressClass = "progress-bar-warning";
            if (parseInt(progress) > 66) {
                progressClass = "progress-bar-success";
            }
            else if (parseInt(progress) < 33) {
                progressClass = "progress-bar-danger";
            }
            $(this).addClass(progressClass);
        });
    });
</script>