{% extends 'editor.html' %}
{% load index %}
{% load static %}

{% block editor_content %}
<form method="post" id="submission-form">
    {% csrf_token %}
    <!--{{ form }}-->
    {{ form.points }}
    {{ form.submission_type }}
    {{ form.non_field_errors }}
    <div class="container-fluid">
        {{ form.submission.errors }}
        <label for="id_submission">Submission:</label>
        {{ form.submission }}
    </div>
    <button type="submit" class="btn btn-default submit-button" onsubmit="return false" id="check_code" name="check" style="margin-top:10px">Check</button>
    {% if mode == 'Test' %}
    <button type="submit" class="btn btn-default submit-button" onsubmit="return false" id="submit_code" onclick="return confirm('Are you sure you want to submit this? You can only submit once');" name="submit" style="margin-top:10px">Submit</button>
    {% else %}
    <button type="submit" class="btn btn-default submit-button" onsubmit="return false" id="submit_code" name="submit" style="margin-top:10px">Submit</button>
    {% endif %}
</form>
<img id="loadingImg" src="{% static 'images/loading.gif' %}" width="100" height="100">
{% endblock %}

{% block additional_scripts%}
<script>
    var textArea = document.getElementById('id_submission');
    textArea.value = "print('Hello world!')";
    var editor = CodeMirror.fromTextArea(textArea, {
        mode: {name: "python",
               version: 3,
               singleLineStringErrors: false},
        lineNumbers: true,
        autoCloseBrackets: true,
        indentUnit: 4,
        onChange: function(){editor.save()},
    });
    var value = "{{ defaultText|escapejs }}";
    editor.getDoc().setValue(value);
</script>
<script>
    // Refactor later, duplicate code
    $(document).ready(function(){
        var form = $("#submission-form");

        $('.submit-button').click(function() {
              $('#id_submission_type').val($(this).attr('Name'));
        });

        form.submit(function(e){
            e.preventDefault();
            $('.submit-button').prop('disabled', true);
            $.ajax({
                type: form.attr('method'),
                url: '/onlinequiz/{{mode}}/{{set.id}}/{{question.id}}/submit_code/',
                data: form.serialize(),
                success: function (result) {
                    var test_cases = JSON.parse(result.test_cases)
                    var tab_html = "";
                    var content_html = "";
                    var summary_content = "<h3><strong>Style Suggestions:</strong></h3>" +
                        "<figure><pre><code>" + result.suggestion + "</code></pre></figure>";
                    var result_container_html = '<h2>Result</h2>\
                    <div class="row" id="result-box"> \
                    </div> \
                    <div class="row"> \
                        <div id="result-summary"> \
                        </div> \
                    </div>';
                    $("#result-container").html(result_container_html);
                    if (result.sub_type == "check") {
                        var init_box_html = '<ul class="nav nav-tabs" id="result-tabs"> \
                        </ul> \
                        <div class="tab-content" id="result-content"> \
                        </div>'
                        $("#result-box").html(init_box_html);
                        for (i = 0; i < test_cases.length; i++) {
                            var test_case_html = "";
                            test_case_html += "<h4>Input Value</h4>" +
                                "<p>" + test_cases[i].fields.input_value + "</p>";
                            if (result.test_cases_output[i]){
                                test_case_html += "<h4>Expected Output</h4>" +
                                "<figure><pre><code>" + result.test_cases_output[i] + "</code></pre></figure>";
                            }
                                test_case_html += "<h4>Your Output</h4>" +
                                "<figure><pre><code>" + result.output[i] + "</code></pre></figure>";
                            test_case_html += "<h4>Correct</h4>";
                            test_case_html += "<p>" + result.success[i] + "</p><br>";
                            tab_html += '<li class="tabs"><a data-toggle="tab" href="#test_case' + (i + 1) + '">Test Case ' + (i + 1) + '</a></li>'
                            content_html += ('<div id="test_case' + (i + 1) + '" class="diff-content tab-pane fade"> \
                                            <div class="panel panel-default"> \
                                              <div class="panel-body" style="max-height: 35em;overflow-y: scroll" id="result-panel' + (i + 1) + '">' +
                                test_case_html +
                                '</div> \
                                            </div> \
                                        </div>')
                        }
                        $("#result-tabs").html(tab_html);
                        $("#result-content").html(content_html);
                        $(".tabs:first").addClass("active");
                        $(".diff-content:first").addClass("in active");
                    }
                    else if (result.sub_type == "submit") {
                        {% if mode == 'Test' %}
                        alert("Your answer has been submitted");
                        window.location.href = "..";
                        {% else %}
                        var init_box_html = '<div class="panel panel-default"> \
                              <div class="panel-body" style="max-height: 35em;overflow-y: scroll" id="result-panel"> \
                              <ul id="test-case-list"> \
                              </ul> \
                              </div> \
                            </div>';
                        $("#result-box").html(init_box_html);
                        var test_case_html = "";
                        for (i = 0; i < test_cases.length; i++) {
                            test_case_html += '<li class="group-list"><a href="/onlinequiz/test-cases/' + result.test_cases_id[i] +
                                '" target="_blank">Test Case ' + (i + 1);
                            if (result.success[i]) {
                                test_case_html += ' <i class="fa fa-check" style="color:green;"></i></li>';
                            }
                            else {
                                test_case_html += ' <i class="fa fa-times" style="color:red;"></i></li>';
                            }
                        }
                        $("#test-case-list").html(test_case_html);
                        if(result.score==0) {
                            summary_content += "<h3>Please check your code again!</h3><br />This submission will not be recorded"
                        } else {
                            summary_content += "<h3><strong>Correctness: " + Math.round(result.score) + "</strong></h3>";
                        }

                        {% endif %}
                    }
                    var summary_html = '<div class="panel panel-default"> \
                                  <div class="panel-body" style="max-height: 15em;overflow-y: scroll" id="result-panel">' +
                        summary_content +
                        '</div> \
                                </div>'
                    $("#result-summary").html(summary_html);
                    $('.submit-button').prop('disabled', false);
                },
                error: function (result) {
                    alert("Request failed");
                    $('.submit-button').prop('disabled', false);
                },
            });
        });
    });
</script>
{% endblock %}