{% extends 'base.html' %}
{% load index %}
{% load static %}

{% block scripts_top %}
<script src="{% static 'onlinequiz/codemirror-5.33.0/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'onlinequiz/codemirror-5.33.0/lib/codemirror.css' %}">
<script src="{% static 'onlinequiz/codemirror-5.33.0/addon/edit/closebrackets.js' %}"></script>
<script src="{% static 'onlinequiz/codemirror-5.33.0/mode/python/python.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-md-8">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/onlinequiz">Home</a></li>
                <li class="breadcrumb-item"><a href="../..">{{ mode }}</a></li>
                  <li class="breadcrumb-item"><a href="..">{{ set }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ question }}</li>
              </ol>
        </div>
        <div class="col-md-4">
            {% if time_left %}
            <div class="panel panel-default">
                <div class="countdown panel-body">
                    <strong>Time Remaining to Complete Test:</strong>
                <span id="clock"></span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
        <h1>{{ question.question }}</h1>
        <div style="max-width: 80%">
        <p>{{ question.explanation|safe }}</p>
        </div>
        {% if mode == "Practice" %}
            {% for i in hints %}
                <button onclick="showHint(id)" class="hint-button btn btn-info" type="button" id="hint-button-{{ forloop.counter }}">
                    Unlock Hint {{ forloop.counter }}
                </button>
                <br>
            {% endfor %}
        {% endif %}
        <br />
        {% block editor_content %}
        {% endblock %}
    </div>
    <div class="container" id="result-container">
    </div>
{% endblock %}

{% block scripts_bottom %}
<script>
    // use AJAX later
    $(document).ready(function(){
        var $loading = $('#loadingImg').hide();
        $(document)
          .ajaxStart(function () {
            $loading.show();
          })
          .ajaxStop(function () {
            $loading.hide();
          });
        function unEntity(str){
            return $("<textarea></textarea>").html(str).text();
        }

        // for hints score
        score = "{{ damage_per_qn }}";
        $("#id_points").val(score);
        hints_cost = "{{ hint_cost }}".replace(/[[\]]/g,'');
        hints_cost = hints_cost.split(", ");

        // for hints replacement button to text
        hint_buttons = $(".hint-button");
        hint_str = (unEntity("{{ hints }}"));
        hint_str = hint_str.slice(hint_str.indexOf('[')+1, hint_str.indexOf(']'));
        // <Hint: Try using the / operator to divide the numbers!>, <Hint: Use print(x/y)>
        hint_str = hint_str.split(">, <");
        hints = [];
        for(i=0; i < hint_buttons.length; i++) {
            hints.push(hint_str[i].replace(/<|>/g, ''));
        }

        $(hint_buttons).click(function(){
            // hint-button-1, 11
            var no = this.id.slice(this.id.lastIndexOf("-")+1)-1;
            $(this).replaceWith(hints[no]);
            score = score - hints_cost[no];
            $("#current-points").text(score);
            $("#id_points").val(score)
        });
    });
//    function showHint (id) {
//        alert(id)
//        $("#hint-button-1").replaceWith( "<h1>hello</h1>" )
//    }
</script>
{% if time_left %}
<script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.js' %}"></script>
<script type="text/javascript">
     var time = "{{ time_left|escapejs }}".replace(/^"(.*)"$/, '$1');
     var d = new Date(time);
      $('#clock').countdown(d)
    .on('update.countdown', function(event) {
      var format = '%H:%M:%S';
      $(this).html(event.strftime(format));
    })
    .on('finish.countdown', function(event) {
        window.location.replace("/onlinequiz/Test/");
    });
</script>
{% endif %}
{% block additional_scripts%}
{% endblock %}
{% endblock %}