{% extends 'base.html' %}
{% load index %}
{% load static %}

{% block scripts_top %}
    <script src="{% static 'onlinequiz/codemirror-5.33.0/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'onlinequiz/codemirror-5.33.0/lib/codemirror.css' %}">
    <script src="{% static 'onlinequiz/codemirror-5.33.0/mode/python/python.js' %}"></script>
    <script src="{% static 'onlinequiz/codemirror-5.33.0/addon/edit/closebrackets.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            {% block breadcrumb %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/onlinequiz">Home</a></li>
                <li class="breadcrumb-item"><a href="../..">{{ mode }}</a></li>
                  <li class="breadcrumb-item"><a href="..">{{ set }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ question }}</li>
            </ol>
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% if time_left %}
            <div class="panel panel-default">
                <div class="countdown panel-body">
                    <strong>Time Remaining to Complete Test:</strong>
                <span id="clock"></span>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" style="max-width: 95%">
                    <h1>{{ question.question }}</h1>
                    <h4>Reward: {% if question.points_reward %}{{ question.points_reward }}{%else%}0{%endif%} points</h4>
                    <small style="max-width: 90%">Reward is only given upon first question completion that is marked at least 75.<br>
                        Points are given based on a % of marks multiplied by question reward.</small>
                    <br />
                    <br />
                    <p>{{ question.explanation|safe }}</p>
                    <br />
                </div>
                <div class="row" style="margin-right: 2em; margin-bottom:-1em;">
                    {% if hints %}
                    <i class="fa fa-question-circle fa-2x" data-toggle="modal" data-target="#hintModal" style="float: right; color: darkcyan;"></i>
                    <!-- Modal -->
                    <div id="hintModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Hint</h4>
                          </div>
                          <div class="modal-body">
                              <ul style="list-style:none">
                                {% for hint, opened in zipped %}
                                  <h4><strong>Hint {{ forloop.counter }}</strong></h4>
                                    {% if opened %}
                                  <li><h4>{{ hint }}</h4></li>
                                    {% else %}
                                  <li style="font-size: 1em; margin-bottom: 0.5em"><button class="unlock-hint" id="hint-unlock-{{hint.id}}">Unlock Hint (-{{hint.points_cost}} points)</button></li>
                                    {% endif %}
                                  <br />
                                {% endfor %}
                              </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% block editor_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <canvas id="game-canvas" width="512" height="384">
                    </canvas>
                </div>
                <div class="row">
                    <div class="panel panel-default" style="width:512px;">
                      <div class="panel-body">
                          <h4><strong>{{ user.studentuser.current_hero }}</strong></h4>
                          <h4>Proficiency: <star>{{ user.studentuser.current_hero.proficiency }}</star></h4>
                          <h4>Points: {{ user.studentuser.total_points }}</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="result-container">
    </div>
{% endblock %}

{% block scripts_bottom %}
<script>
    // Hint script
    $(document).ready(function() {
        $(".unlock-hint").click(function () {
            var id = this.id.slice(this.id.lastIndexOf("-")+1);
            $.ajax({
                type: 'POST',
                url: '/onlinequiz/unlock_hint/',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (result) {
                    if (result.failed) {
                        alert("Not enough points");
                    }
                    else {
                        alert("Unlocked Hint!");
                        location.reload();
                    }
                }
            });
        });
    });
</script>
<script>
    // Canvas Script
    $(document).ready(function() {
        var $loading = $('#loadingImg').hide();
        $(document)
          .ajaxStart(function () {
            $loading.show();
          })
          .ajaxStop(function () {
            $loading.hide();
          });
       var gameCanvas = document.getElementById('game-canvas'),
           context = gameCanvas.getContext('2d');
       var background = new Image();
       background.src = "{% static 'images/game_files/room_initial.png' %}";
       background.onload = function(){
           context.drawImage(background,0,0);
       };

       // Draw Assets
        var sources = JSON.parse( "{{ canvas_asset_json|escapejs }}" );

    function loadImages(sources, callback) {
        var images = {};
        var pos = {};
        var loadedImages = 0;
        // get num of sources
        for(var i = 0; i < sources.length; i++) {
            var src = sources[i];
            images[i] = new Image();
            images[i].onload = function() {
                if(++loadedImages >= sources.length) {
                    callback(images, pos);
                }
            };
            images[i].src = "{{MEDIA_URL}}" + src.fields.image;
            pos[i] = {};
            pos[i]['pos_x'] = src.fields.pos_x;
            pos[i]['pos_y'] = src.fields.pos_y;
        }
    }

      loadImages(sources, function(images, pos) {
          setTimeout(function() {
              for(var i = 0; i < sources.length; i++) {
                context.drawImage(images[i], pos[i]['pos_x'], pos[i]['pos_y']);
                }
          }, 100);
      });

        function gameLoop () {
          window.requestAnimationFrame(gameLoop);
          avatar.update();
          avatar.render();
        }

        function sprite (options) {
            var that = {},
                frameIndex = 0,
                tickCount = 0,
                ticksPerFrame = options.ticksPerFrame || 0,
                numberOfFrames = options.numberOfFrames || 1;
            that.context = options.context;
            that.width = options.width;
            that.height = options.height;
            that.image = options.image;

            that.update = function () {
                tickCount += 1;
                if (tickCount > ticksPerFrame) {
                    tickCount = 0;
                    // If the current frame index is in range
                    if (frameIndex < numberOfFrames - 1) {
                        // Go to the next frame
                        frameIndex += 1;
                    } else {
                        frameIndex = 0;
                    }
                }
            };

            that.render = function () {
              // Clear the canvas (destroys background omg, can try putting the bg in background-image!)
              // that.context.clearRect(0, 0, that.width, that.height);
              // Draw the animation
              that.context.drawImage(
                that.image,
                frameIndex * that.width / numberOfFrames,
                0,
                that.width / numberOfFrames,
                that.height,
                125,
                180,
                that.width / numberOfFrames,
                that.height);
            };
            return that;
       }

        var avatarImage = new Image();
        var avatar = sprite({
            context: gameCanvas.getContext("2d"),
            width: 150,
            height: 150,
            image: avatarImage,
            numberOfFrames:2,
            ticksPerFrame: 50,
        });
        avatarImage.addEventListener("load", gameLoop);
        avatarImage.src = {% if user.studentuser.char_gender == 'F' %}"{% static 'images/game_files/girl-sprite-idle.png' %}"{% else %}"{% static 'images/game_files/boy-sprite-idle.png' %}"{% endif %};

        // Dialog box
        // $("#submit_code").on()
        $("#submit_code").on("spriteDialog", function(event, score) {
            var dialog = new Image();
            if (score>75) {
                dialog.src = "{% static 'images/game_files/good.png' %}";
            } else {
                dialog.src = "{% static 'images/game_files/bad.png' %}";
            }

            dialog.onload = function(){
               //dataURL=gameCanvas.toDataURL();
               context.drawImage(dialog,140,150);
               // Disappearing dialog
//               timeout = setTimeout(function() {
//                     var image=new Image();
//                        image.onload=function(){
//                            context.drawImage(image,0,0);
//                        }
//                   image.src=dataURL;
//               }, 10000 )
            }
        })
    });
</script>
{% block additional_scripts%}
{% endblock %}
{% endblock %}