{% extends 'base.html' %}
{% load index %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ question }}</h1>
        <p>{{ question.explanation|linebreaks }}</p>
        <br />
        <form method="post" id="submission-form">
            {% csrf_token %}
            <!--{{ form }}-->
            {{ form.points }}
            {{ form.non_field_errors }}
            <div class="container-fluid">
                {{ form.submission.errors }}
                <label for="id_submission">Choices:</label>
                <div id="mcq-choices">
                    {{ form.choice }}
                </div>
            </div>
            <button type="submit" class="btn btn-default" id="submit_code" name="submit" style="margin-top:10px">Submit</button>
        </form>
    </div>
    <div class="container" id="result-container">
    </div>
{% endblock %}

{% block scripts_bottom %}
<script>
$(document).ready(function(){
    var form = $("#submission-form");
    form.submit(function(e){
        $.ajax({
            type: form.attr('method'),
            url: '/onlinequiz/{{mode}}/{{set.id}}/{{question.id}}/submit_mcq/',
            data: form.serialize(),
            success: function (result) {
                var result_container_html = '<h2>Result</h2>\
                    <div class="row" id="result-box"> \
                    </div> \
                    <div class="row"> \
                        <div id="result-summary"> \
                        </div> \
                    </div>';
                $("#result-container").html(result_container_html);
                if (result["correct"]) {
                    var correct = "Your answer is correct"
                } else {
                    var correct = "Your answer is incorrect"
                }
                var init_box_html = '<div class="panel panel-default"> \
                              <div class="panel-body" id="result-panel"> \
                              <h4>Your choice: <strong>' + result["choice"] + '</strong></h4> \
                              <h4>' + correct + '</h4>\
                              </div> \
                            </div>';
                $("#result-box").html(init_box_html);
            }
        });
        e.preventDefault();
    });
});
</script>
{% endblock %}