{% extends 'editor.html' %}
{% load index %}
{% load static %}

{% block editor_content %}
<form method="post" id="submission-form">
    {% csrf_token %}
    <!--{{ form }}-->
    {{ form.points }}
    {{ form.non_field_errors }}
    <div class="container-fluid">
        {{ form.submission.errors }}
        <label for="id_submission">Choices:</label>
        <div id="mcq-choices">
            {{ form.choice }}
        </div>
    </div>
    <button type="submit" class="btn btn-default" id="submit_code" name="submit" style="margin-top:10px">Submit</button>
</form>
<img id="loadingImg" src="{% static 'images/loading.gif' %}" width="100" height="100">
{% endblock %}

{% block additional_scripts%}
<script>
$(document).ready(function(){
    var form = $("#submission-form");
    form.submit(function(e){
        $('.submit-button').prop('disabled', true);
        $.ajax({
            type: form.attr('method'),
            url: '/onlinequiz/{{mode}}/{{set.id}}/{{question.id}}/submit_mcq/',
            data: form.serialize(),
            success: function (result) {
                {% if mode == 'Test' %}
                    alert("Your answer has been submitted");
                    window.location.href = "..";
                {% else %}
                var result_container_html = '<h2>Result</h2>\
                    <div class="row" id="result-box"> \
                    </div> \
                    <div class="row"> \
                        <div id="result-summary"> \
                        </div> \
                    </div>';
                $("#result-container").html(result_container_html);
                if (result["correct"]) {
                    var correct = "Your answer is correct"
                } else {
                    var correct = "Your answer is incorrect"
                }
                var init_box_html = '<div class="panel panel-default"> \
                              <div class="panel-body" id="result-panel"> \
                              <h4>Your choice: <strong>' + result["choice"] + '</strong></h4> \
                              <h4>' + correct + '</h4>\
                              </div> \
                            </div>';
                $("#result-box").html(init_box_html);
                {% endif %}
                $('.submit-button').prop('disabled', false);
            },
            error: function (result) {
                    alert("Request failed");
                    $('.submit-button').prop('disabled', false);
            },
        });
        e.preventDefault();
    });
});
</script>
{% endblock %}