{% for tag in tags %}
<optgroup label="{{ tag.tag }}">
    {% for question in questions %}
    {% if tag in question.tag.all %}
    <option value="{{ question.id }}">{{ question.set_display }} |
        {% for tag in question.tag.all %}
            {{ tag }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </option>
    {% endif %}
    {% endfor %}
</optgroup>
{% endfor %}